@import "./var-color";
@import "./div-class";
@import "./varpad";

@mixin boxshadow{
    -webkit-box-shadow: 10px 10px 15px -4px #6b717f;
    -moz-box-shadow: 10px 10px 15px -4px #6b717f;
    box-shadow: 10px 10px 15px -4px #6b717f;
}

@mixin part2{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-top: 0;
    padding-bottom: 0;

    background: gray;

}


main{

    @include part2();
   
}



.success:hover{

    color: white;
    background: $successBack;
    border: $successBack;
    
    
}
.error{
    background: $errorBack;
}

.error:hover{

    color: white;
    background: $successBack;
    border: $errorBack;

}

.warning:hover{
    color: white;
    background: $warningBack;
    border: $warningBack;

}

footer{
    @include part2();

    padding: $padding * 2;
    
}

